body
{
    width: 80%;
    height: 100vh;
    font-family: 'Times New Roman';
    margin: 0 auto;
    padding: 0;
}
.s_header
{
    display: inline-block;
    width: 100%;
    margin: 0 ;

    padding: 0;
}

.s_orgName
{

    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
    background: none;
    border:none;
    line-height:1.25;
    margin: 0  2%;
    padding: 0;
}

.s_orgLogo
{

    width: 100px;
    margin: 0.5% 0 0 0;

    padding: 0;
}

.s_header ul
{
    margin:3% 0 0 0;

}
.m-0
{
    margin:0 !important;
}
.p-0
{
    padding: 0 !important;
}
.head-color
{
    background: #454545;
    color:#efefef;
}
.border-none
{
    border-color:white;
}

.fa {
    padding: 10px;
    font-size: 25px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google-plus {
    background: #dd4b39;
    color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
